In [3]:
import numpy as np
import pandas as pd
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%precision 3

'%.3f'

In [4]:
# 카이제곱 분포의 누적밀도함수를 활용해서 p값을 계산
# 2행2열 분할표에서 기대도수와 관측도수간의 차이를 계산한 값을 활용한다. (x=6.667, df=1)
1 - sp.stats.chi2.cdf(x=6.667, df=1)

0.009821437357809604

In [5]:
# 분할표 검정 (실습)
click_data = pd.read_csv("./sample/3-10-1-click_data.csv")
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [6]:
cross = pd.pivot_table(
    data=click_data,
    values="freq",
    aggfunc="sum",
    index="color",
    columns="click")
cross

click  click  not
color
blue      20  230
red       10   40

In [7]:
sp.stats.chi2_contingency(cross, correction=False) # 불필요한 보정을 하지 않도록 False로 설정

(6.666666666666666,
 0.009823274507519247,
 1,
 array([[ 25., 225.],
        [  5.,  45.]]))

### 결과값
- Chi Square 값과 p값, 자유도, 기대도수 순으로 표시된다.